{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Authentication Platform{% endblock %}</title>
  {% block meta_robots %}
  <meta name="robots" content="noindex, nofollow">
  {% endblock %}
  {% block meta_description %}{% endblock %}

  <!-- Google Fonts: Inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  {% block extra_css %}{% endblock %}
  {% if dynamic_css_vars %}
  <style id="dynamic-theme-vars">
    :root {
      {{ dynamic_css_vars|safe }}
    }
  </style>
  {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block content %}{% endblock %}
  <script src="{% static 'accounts/js/auth_common.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
